.home-intro{
    text-align: center;
    position: absolute;
    right: 37%;
    top: 50%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px 12px grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.home-intro h1, h2{
    background-color: whitesmoke;
    
}
